.ui-tabs {
    position: relative;
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        right: auto;
        top: auto;
        height: 1px;
        width: 100%;
        background-color: #d0d0d0;
        display: block;
        z-index: 15;
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
    }

    .tab-item {
        width: 100%;
        display: block;
        font-size: @font-size-default;
        color: #8391a5;
        padding: 5px 15px 3px 15px;
        text-align: center;
        border-bottom: 2px solid transparent;

        &.active {
            position: relative;
            border-bottom: 2px solid @color-black;
            color: @color-light-black;
            z-index: 100;
        } 
    }

    &.ui-bar-footer {
        .tab-item {
            height: 100%;
            color: @color-dark-white;
            font-size: 0.85rem;
            padding: 5px 15px;

            &.active {
                border-bottom: none;
                color: darken(@color-blue, 10%);
            }

            .iconfont {
                height: 1.2rem;
                font-size: 1.2rem;
                line-height: 1.2rem;
                padding-top: 0;
                padding-bottom: 0;
            }

            .iconfont ~ .tab-label {
                display: block;
                font-size: 0.55rem;
                position: relative;
            }                      
        }
        
    }
}