.ui-overlay-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .3;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);    
    background: #000;  
    z-index: 60;
}