@import "mask.less";

.ui-overlay {
    position: fixed;
    top: 25%;
    left: 20px;
    right: 20px;
    height: 160px;
    margin: auto; 
    border: 1px solid #3085b7;
    background: #fff;
    border-radius: 3px;
    z-index: 61;   

    .ui-overlay-close {
        position: absolute;
        width: 18px;
        height: 18px;
        right: -9px;
        top: -9px;
        font-size: 14px;
        color: black;
        line-height: 18px;
        text-align: center;
        border-radius: 30px;
        background: #3085b7;
        color: #fff;     
        cursor: pointer;
    }
}