<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>mul-ui</title>
    </head>
    <body>
        <div class="row">
            <div class="col-12">
                <div id="datepicker1"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <a id="half-popup" class="ui-btn ui-btn-green" href="javascript:void(0);">半浮层</a>
                <a id="popup" class="ui-btn ui-btn-green" href="javascript:void(0);">窗口浮层</a>
                <a id="alert" class="ui-btn ui-btn-red" href="javascript:void(0);">提示窗口</a>
                <a id="confirm" class="ui-btn ui-btn-purple" href="javascript:void(0);">确认窗口</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-control">
                    <div id="picker"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-control">
                    <input type="text" 
                           class="ui-textbox" 
                           id="picker2"/>
                </div>
            </div>
        </div>                
    </body>
</html>
