<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
        <title>mul-ui</title>
    </head>
    <body>
        <header class="ui-bar ui-bar-header">
            <h1 class="title">标签页</h1>
        </header>
        <nav class="ui-bar ui-bar-footer ui-tabs">
            <a class="tab-item active" href="#">
                <i class="iconfont icon-all"></i>
                <span class="tab-label">首页</span>
            </a>
            <a class="tab-item" href="#">
                <i class="iconfont icon-favorite"></i>
                <span class="tab-label">收藏</span>
            </a>
            <a class="tab-item" href="#">
                <i class="iconfont icon-set"></i>
                <span class="tab-label">设置</span>
            </a>
        </nav>                
        <div class="content">
            <div class="ui-tabs">
                <a href="#tab1" class="tab-item active">全部</a>
                <a href="#tab2" class="tab-item">待付款</a>
                <a href="#tab3" class="tab-item">待发货</a>
            </div>        
            <div class="row">
                <div class="col-12">
                    <a id="half-popup" 
                       class="ui-btn ui-btn-info" 
                       href="javascript:void(0);">半浮层</a>
                    <a id="popup" 
                       class="ui-btn ui-btn-info" 
                       href="javascript:void(0);">窗口浮层</a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <a id="alert" 
                       class="ui-btn ui-btn-success" 
                       href="javascript:void(0);">提示窗口</a>
                    <a id="confirm" 
                       class="ui-btn ui-btn-danger" 
                       href="javascript:void(0);">确认窗口</a>                    
                </div>            
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-control">
                        <div id="picker"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-control">
                        <input type="text"
                               class="ui-input"
                               id="datepicker1"/>
                    </div>
                </div>
            </div>   
            <div class="row">
                <div class="col-12">
                    <div class="form-control">
                        <input type="text"
                               class="ui-input"
                               id="datepicker2"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-control">
                        <input type="text"
                               class="ui-input"
                               id="datepicker3"/>
                    </div>
                </div>
            </div> 
            <div class="row">
                <div class="col-12">
                    <div class="form-control">
                        <input type="text"
                               class="ui-input"
                               id="datepicker4_1"/>
                    </div>
                </div>
            </div> 
            <div class="row">
                <div class="col-12">
                    <div class="form-control">
                        <input type="text"
                               class="ui-input"
                               id="datepicker4_2"/>
                    </div>
                </div>
            </div>             
        </div>    
        <script type="text/javascript"></script>                           
    </body>
</html>
